<div>
  <div class="form-group text-center" id="feedbackButtonDiv">
    <a href="/feedback">
      <button type="button" class="btn btn-primary" onClick="getLink()" id="feedbackButton">Feedback System</button>
    </a>
    <a href="/vote">
      <button type="button" class="btn btn-primary" onClick="getLink()" id="feedbackButton">Voting System</button>
    </a>
  </div>
</div>
<script src='/hbsJs/homepage.js'></script>
