<h1>Anonymous Speech Feedback System</h1>
<h3>To Receive Anonymous Feedback for your speech,</h3>
<h3>input your phone number</h3>
<div>
  <div class="form-group">
    <input type="number" class="form-control" id="phoneNumber" placeholder="Input Phone Number (10 digits)" onKeyUp="onPhoneNumberInput(this)">
  </div>
  <div class="form-group" id="feedbackButtonDiv">
    <button type="button" class="btn btn-danger" onClick="getLink()">Get Feedback Link</button>
  </div>
  <div class="form-group" id="linkDiv"></div>
</div>
<script>
  const url = 'https://ti-manager.com';
  var state = {};
  function onPhoneNumberInput(input) { state.phoneNumber = input.value; }
  async function req(params) {
    const response = await fetch(url + params.endpoint, {
      method: 'POST',
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: { 'Content-Type': 'application/json' },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
      body: JSON.stringify(params.data)
    });
    return response.json();
  }
  async function getLink() {
    const res = await req({
      data: { phoneNumber: this.state.phoneNumber },
      endpoint: '/getLink'
    });
    document.getElementById('feedbackButtonDiv').style.display = 'none';
    document.getElementById('linkDiv').innerHTML = url + '/feedback/' + res.token;
  }
</script>
