<div class="inputPhoneHeader">Input your phone number to receive anonymous feedback for your speech</div>
<div>
  <div class="form-group">
    <input type="number" class="form-control" id="phoneNumber" placeholder="Input Phone Number (10 digits)" onKeyUp="state.phoneNumber = this.value">
  </div>
  <div class="form-group text-right" id="feedbackButtonDiv">
    <button type="button" class="btn btn-primary" onClick="getLink()">Get Feedback Link</button>
  </div>
  <div class="form-group" id="linkDiv"></div>
  <div class="form-group" id="errorDiv" style="color: red;"></div>
</div>
<script>
  (function initDomain() {
    if (window.location.href.toString().includes('localhost')) {
        window.localStorage.domain = 'http://localhost:3000';
    } else {
        window.localStorage.domain = 'https://ti-manager.com';
    }
  }())
  var state = {};
  async function req(params) {
    if (!checkInput()) { return; }
    const response = await fetch(window.localStorage.domain + params.endpoint, {
      method: 'POST',
      mode: 'cors',
      cache: 'no-cache',
      credentials: 'same-origin',
      headers: { 'Content-Type': 'application/json' },
      redirect: 'follow',
      referrerPolicy: 'no-referrer',
      body: JSON.stringify(params.data)
    });
    return response.json();
  }
  function checkInput() {
    if (!this.state.phoneNumber) {
      errorMessage('Input a phone number above to receive feedback');
      return false;
    }
    return true;
  }
  function errorMessage(message) {
    document.getElementById('errorDiv').innerHTML = message;
  }
  async function getLink() {
    const res = await req({
      data: { phoneNumber: this.state.phoneNumber },
      endpoint: '/getLink'
    });
    document.getElementById('feedbackButtonDiv').style.display = 'none';
    document.getElementById('linkDiv').innerHTML = window.localStorage.domain + '/feedback/' + res.token;
  }
</script>
