<div class="inputPhoneHeader">Input your phone number to receive anonymous feedback for your speech</div>
<div>
  <div class="form-group">
    <input type="number" class="form-control" id="phoneNumber" placeholder="Input Phone Number (10 digits)" onKeyUp="state.phoneNumber = this.value">
  </div>
  <div class="form-group text-right" id="feedbackButtonDiv">
    <button type="button" class="btn btn-primary" onClick="getLink()" id="feedbackButton">Get Feedback Link</button>
    <button class="btn btn-primary" disabled style="display: none;" id="loaderButton">
      <span class="spinner-border spinner-border-sm"></span>
      Loading..
    </button> 
  </div>
  <div class="form-group" id="linkDiv"></div>
</div>
<div id="successDiv" style="color: green;"></div>
<div id="failDiv" style="color: red;"></div>
<script src='/hbsJs/index.js'></script>
