<!DOCTYPE html>
<html>
  <head>
    <title>TI Hybrid Meeting Management System</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="keywords" content="Toastmasters, Quarantine, Remote, Speech Feedback, Voting, Public Speaking">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/domain.js' defer></script>
    <script src='/js/req.js' defer></script>
    <script src='/js/successFail.js' defer></script>
    <link rel="icon" type="image/png" href="https://localbz.co/Dreambuilders/logo.png">
    <style>
      body {
        background-image: url("/images/homeBgSmaller.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: white;
      }
    </style>
  </head>
  <body>
    <a href="https://www.buymeacoffee.com/devincheca" target="_blank">
      <img src="/images/bmcFullLogo.png" class="coffee" />
    </a>
    <div class="card">
      <div class="topBarDiv">
        <div>
          <img src="https://localbz.co/Dreambuilders/logo.png">
        </div>
        <div style="text-align: right;" id="page-title">TI Hybrid Meeting Management System</div>
      </div>
      {{{body}}}
    </div>
  </body>
</html>
