<!DOCTYPE html>
<html>
  <head>
    <title>Anonymous Speech Feedback System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/domain.js' defer></script>
    <script src='/js/req.js' defer></script>
    <script src='/js/successFail.js' defer></script>
    <link rel="icon" type="image/png" href="https://localbz.co/Dreambuilders/logo.png">
  </head>
  <body class="card">
    <div class="topBarDiv">
      <div>
        <img src="https://localbz.co/Dreambuilders/logo.png">
      </div>
      <div>Anonymous Speech Feedback System</div>
    </div>
    {{{body}}}
  </body>
</html>
