<div class="topBarDiv">
  <div>
    <img src="https://localbz.co/Dreambuilders/logo.png">
  </div>
  <div style="text-align: right;" id="page-title">TI Hybrid Meeting Management System</div>
</div>
<div>
  <div class="form-group text-center" id="feedbackButtonDiv">
      <ng-template [ngIf]="currentView === 'home'">
        <a>
          <button type="button" class="btn btn-primary" (click)="getFeedbackLink()" id="feedbackButton">Feedback System</button>
        </a>
        <a>
          <button type="button" class="btn btn-primary" (click)="getVoteLink()" id="feedbackButton">Voting System</button>
        </a>
      </ng-template>
      <ng-template [ngIf]="currentView === 'feedbackStart'">
        <app-feedback-init-form></app-feedback-init-form>
      </ng-template>
      <ng-template [ngIf]="currentView === 'voteStart'">
        <app-vote-init-form></app-vote-init-form>
      </ng-template>
  </div>
</div>
