<div class="topBarDiv">
  <div>
    <img src="https://localbz.co/Dreambuilders/logo.png">
  </div>
  <div style="text-align: right;" id="page-title">TI Hybrid Meeting Management System</div>
</div>
<div>
  <div class="form-group text-center" id="feedbackButtonDiv">
    <a href="/feedback">
      <button type="button" class="btn btn-primary" onclick="getLink()" id="feedbackButton">Feedback System</button>
    </a>
    <a href="/vote">
      <button type="button" class="btn btn-primary" onclick="getLink()" id="feedbackButton">Voting System</button>
    </a>
  </div>
</div>
